$darkest: #001523
$darker: #001A2C
$dark: #002137
$darkLight: #003356
$light: #ADDEFF
$lighter: #EBF7FF
@mixin hover
  @media (hover: hover) and (pointer: fine)
    &:hover, &:focus
      @content
@mixin no-hover
  @media (hover: none)
    &:active, &:focus
      @content
@mixin breakpoint($width)
  @media (min-width: $width)
    @content
%flex
  display: flex
  flex-direction: column
%flex-row
  flex-direction: row
  justify-content: space-between
  align-items: center
// reset
html
  box-sizing: border-box
  font-size: 62.5%
  //height: 100%
*, *:before, *:after
  box-sizing: inherit
body,
blockquote,
figure,
h1,
p
  margin: 0
body
  color: $light
  font-family: 'Roboto Slab', serif
  font-size: 1.6rem
  @include breakpoint(768px)
    font-size: 2rem
a
  color: $lighter
  text-decoration: none
  @include hover
    color: $light
    text-decoration: underline
img
  max-width: 100%
// App styles
main
  @extend %flex
  height: 100vh
section
  padding: 1em 2%
  @extend %flex
  gap: 2em
  flex-direction: row
  flex: 1
  background: $darker
  overflow: hidden
#master-header, footer
  background-color: $darkest
footer
  @extend %flex
  @extend %flex-row
  padding: 1em 2%
#master-header
  text-align: center
  padding: 1em
// Panels
.panel
  @extend %flex
  flex: 1
  max-width: 46%
  margin: 0 auto
  header
    @extend %flex
    @extend %flex-row
textarea
  background: $dark
  color: $light
  white-space: pre-wrap
  resize: none
#editor, #preview
  padding: 1em
  flex: 1
  border: 1px solid $darkest
  overflow: auto
#preview
  background: $darkLight
  color: $lighter
  // fixing some styles on preview
  // pre
  //   max-width: 100%
